<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<%# LOGO %>
			<div class="circle">
  				<br />
  				Zen
 				<br />
  				hippie
  				<br />
  				stuff!!
			</div>
		</div>
		
		<div class="col-xs-4 slogan">
			Splurting out unsolicited advice about interpersonal interaction since 2015
		</div>	
		<div class="col-xs-5 links">
			<%= link_to 'Contribute a quote', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />
<%# clearing br tag, clears body text out of bootstrap columns in the top navigation bar %>
	<br class="clear" />

<div class="container">
	<%= yield %>
</div>


<div class="footer">
	<div class="container">
		<div class="col-xs-6">
			<%= link_to "This isn't enough, I need more.", "#", :class => 'next-quote' %>
		</div>

		<div class="col-xs-6 footer-blurb">
			Proudly hacked in San Francisco, CA by Melanie.
			Want to build your own Splurty web app? <a href="http://thefirehoseproject.com">Learn how to code here</a>
		</div>
	</div>
</div>
		<p class="text-muted">Ok, what else is in here?</p>

	</div>


</body>
</html>
